.App {
  text-align: center;
  background-color: rgb(248, 248, 248);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.form-container {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  background: url("../images/daniel-lincoln-KquvqfGCWAs-unsplash\ \(1\).jpg") center/cover no-repeat;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 576px) {
  .form-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.form-container form {
  width: 45%;
  height: 2rem;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 576px) {
  .form-container form {
    width: 80%;

  }
}

.form-container input {
  width: 100%;
  outline: none;
  border-radius: 5px 0 0 5px;
  border: none;
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-container button {
  height: 100%;
  width: 10%;
  outline: none;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: 1px solid gray;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.bgc-img1,
.bgc-img2 {
  position: fixed;
  opacity: 0.2;
  stroke: #000000;
  fill: none;
  stroke-width: 2px;
  stroke-opacity: 1;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .6));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .6));
}

.bgc-img1 {
  top: -6%;
  left: -6%;
  height: 40vh;
  transform: rotate(135deg);

}

.bgc-img2 {
  bottom: -6.5%;
  right: -6.5%;
  height: 50vh;
  transform: rotate(-45deg);

}

@media (max-width: 768px) {
  .bgc-img1 {
    top: -12%;
    left: -12%;

  }

  .bgc-img2 {
    bottom: -10%;
    right: -10%;

  }
}

.blur {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.documentation-link {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: 0.4;
}

.documentation-link span {
  font-size: 1rem;
}

.documentation-link a {
  color: rgb(255, 255, 255);
  margin-right: 3px;
}